{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'booth/contactUs.css' %}" />
{% endblock %}

{% block content %}
<body>

    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1> DECIDE </h1>
            </div>
        </div>
    </div>

<button class=button onclick="window.history.go(-1);">Atrás</button>

{% endblock %}

{% block extrabody %}
<body>
    <div class="body">
    <h1> ¡Contáctanos!</h1>

    <p> La plataforma Decide ha sido desarrollada por la empresa wadobo, y modificada por el equipo de Decide-Moltres.</p>
    <p> Decide-Moltres cuenta con una serie de módulos de trabajo, como el módulo de Cabina, Votación, Auth, Visualización... </p>
    <p> Si desea comunicarse con nosotros, a continuación se le muestran los contactos de los miembros del equipo de Visualización:</p>
    <div class=table>
    <table class=contact>
        <tr>
            <th>
                Integrantes
            </th>
            <th>
                Correos electrónicos
            </th>
        </tr>
        <tr>
            <td>
            Ezequiel Portillo Jurado 
            </td>
            <td class=correo>
            <a href=""><img onclick="window.open('mailto:ezeporjur@alum.us.es?subject=Decide!&body=Querido Ezequiel: Soy _______ y le escribo este correo con motivo:');" 
                src="https://images.vexels.com/media/users/3/130187/isolated/preview/5e8d2205ecc8cde3235581fc5ecfa430-icono-de-esquema-de-correo-electr--nico-by-vexels.png" height="20" width="20"></a><br>
            </td>
        </tr>
        <tr>
            <td>
                Belén Garrido López
            </td>
            <td class=correo>
            <a href=""><img onclick="window.open('mailto:belgarlop3@alum.us.es?subject=Decide!&body=Querida Belén: Soy _______ y le escribo este correo con motivo:');" 
                src="https://images.vexels.com/media/users/3/130187/isolated/preview/5e8d2205ecc8cde3235581fc5ecfa430-icono-de-esquema-de-correo-electr--nico-by-vexels.png" height="20" width="20"></a><br>
            </td>
        </tr>
        <tr>
            <td>
                Marta Dorante Cardoso  
            </td> 
            <td class=correo>
            <a href=""><img onclick="window.open('mailto:mardorcar@alum.us.es?subject=Decide!&body=Querida Marta: Soy _______ y le escribo este correo con motivo:');" 
                src="https://images.vexels.com/media/users/3/130187/isolated/preview/5e8d2205ecc8cde3235581fc5ecfa430-icono-de-esquema-de-correo-electr--nico-by-vexels.png" height="20" width="20"></a><br>
            </td>
        </tr>
        <tr>
            <td>
                María de Gracia Piñero Pastor  
            </td>
            <td class=correo>
            <a href=""><img onclick="window.open('mailto:marpinpas@alum.us.es?subject=Decide!&body=Querida María de Gracia: Soy _______ y le escribo este correo con motivo:');" 
                src="https://images.vexels.com/media/users/3/130187/isolated/preview/5e8d2205ecc8cde3235581fc5ecfa430-icono-de-esquema-de-correo-electr--nico-by-vexels.png" height="20" width="20"></a><br>
            </td>
        </tr>
        <tr>
            <td>
                Alejandro Rodríguez Díaz 
            </td>
            <td class=correo>
            <a href=""><img onclick="window.open('mailto:aleroddia1@alum.us.es?subject=Decide!&body=Querido Alejandro: Soy _______ y le escribo este correo con motivo:');"
                src="https://images.vexels.com/media/users/3/130187/isolated/preview/5e8d2205ecc8cde3235581fc5ecfa430-icono-de-esquema-de-correo-electr--nico-by-vexels.png" height="20" width="20"></a><br>
            </td>
        </tr>
    </table>
    </div>
    <p> En caso de algún tipo de duda, o sugerencia, o si tal vez encuentra algún fallo, no dude en ponerse en contacto con nosotros.</p>
    <p> Trataremos de solucionarlo de la mejor manera posible. ¡Gracias!</p>
    </div>

</body>
<footer>

    <div class="container-footer-all">
        <div class="container-body">

            <div class="colum1">
                <h1> Más información de la plataforma </h1>

                <p> El objetivo de este proyecto es implementar una plataforma de voto electrónico seguro,
                    que cumpla una serie de garantías básicas, como la anonimicidad y el secreto del voto.
                    Se trata de un proyecto educativo, pensado para el estudio de sistemas de votación,
                    por lo que prima la simplicidad por encima de la eficiencia cuando sea posible.
                    Por lo tanto se asumen algunas carencias para permitir que sea entendible y extensible.

            </div>

            <div class="colum2">
                <h1> Información de contacto</h1>
                <div class="row1">
                    <i class="fa fa-home" style="font-size:25px;color:white"></i>
                    <label> Escuela Técnica Superior de Ingeniería Informática, Universidad de Sevilla, 41012 Sevilla</label>
                </div>

                <div class="row2">
                    <i class="fa fa-envelope" style="font-size:20px;color:white"></i>
                    <label> decide-visualizacion-moltres@gmail.com</label>
                </div>

                <div class="row3">
                    <i class="fa fa-internet-explorer" style="font-size:20px;color:white"></i>
                    <label> https://1984.lsi.us.es/wiki-egc </label>
                </div>

            </div>

        </div>

        <div class="container-footer">

                <div class="copyright">
                    © Todos los derechos reservados
                </div>
        </div>

    </div>
</footer>
<script>
function enviarCorreo () {
    var thread = GmailApp.getInboxThreads(0,1)[0]; // get first thread in inbox
    var message = thread.getMessages()[0]; // get first message
    Logger.log(message.getFrom());
}

</script>
</body>
{% endblock %}