{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            <!--Aquí se colocan los "div" en los que van insertados ambos tipos de gráficas-->
            <div id="graficaBarras" style="height: 250px;"></div>
            <div id="graficaDonut" style="height: 250px;"></div>    
        </div>
    </div>
    <a href="excel"> Export this votation to excel</a>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        }) 
    </script>
    <script>

// Con esta función, conseguimos extraer los datos necesarios para que la librería morris
// pueda trabajar con ellos. En concreto, extraemos, de cada uno de los resultados, el nombre
// de este y su número de votos obtenidos.
function extraerDatos(a) {
    var res = [];
    var name = "";
    var votes = "";
    // Para cada resultado:
    for (var i = 0; i  < a; i++)  {
        // Nombre
        name = voting.postproc[i].option  
        // Número de votos
        votes = voting.postproc[i].votes
        // Se añade al array que devolvemos
        res.push({
            label: name, value: votes
        });
    }
    return res;
}

// Elemento de la librería de Morris que trabaja con la gráfica de Barras.
// Recibe: "element": nombre del div en el que es insertada la gráfica;
// "data" : donde insertamos un dato de ejemplo, ya que es indispensable para garantizar
// la creación correcta de la gráfica
// "xkey": Indica el nombre de los elementos situados en el eje X
// "ykey": Indica, en un array, el nombre de los elementos situados en el eje Y
var graphBar = new Morris.Bar({
  element: 'graficaBarras',
  data: [
      {label: "Ejemplo", value: 0}
  ],
  xkey: 'label',
  ykeys: ['value'],
  labels: ['Votos']
});

// Elemento de la librería de Morris que trabaja con la gráfica de Donut/Queso.
// Recibe: "element": nombre del div en el que es insertada la gráfica;
// "data" : donde insertamos un dato de ejemplo, ya que es indispensable para garantizar
// "colors": Un array donde añadimos el nombre de los colores que deseamos que se usen en la gráfica
var graphDonut =  new Morris.Donut({
   element: 'graficaDonut',
   data: [
     { label: "Ejemplo", value: 0 }
   ],
   colors: ['#006cff', '#5efc89', ' #d4b2ff', '#f5b2ff', '#fff6b2']
 });

// Por último, encontramos el método que hace todo posible, "setData". Este método que contiene
// la librería de Morris nos facilita la actualización de los "data" de ambas gráficas. En este caso
// añadimos nuestro método de extraer datos y le indicamos que lo haga con el número de resultados provenientes
// del postprocesado.
 graphBar.setData(extraerDatos(voting.postproc.length))
 graphDonut.setData(extraerDatos(voting.postproc.length))
    </script>
</body>
{% endblock %}
